$osans: 'Open Sans', sans-serif;

$greyfont: #b1b1b1;
$darkgreyfont: #717177;
$cyan: #82ca9c;
$bglightgrey: #f6f7fa;
$btnbg: #e1e1e1;
$purple: #bd8cbf;
$footerbg: #192431;
$lightblue: #57697f;

p, a, i, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h2 {
	font: 35px $osans;
	font-weight: 300;
	padding: 50px 15px 15px 15px;
}

h3 {
	font: 30px $osans;
	font-weight: 300;
	padding: 15px;
}

h4 {
	font: 14px $osans;
	font-weight: 700;
	padding: 40px 15px 0 15px;
}	

p {
	padding: 15px;
	color: $greyfont;
}

.sidetext {
	position: absolute;
	left: 0;
	top: 50%;
	p {
		transform: rotate(270deg);
		padding: 15px;
		font: 12px $osans;
		font-weight: 600;
		text-transform: uppercase;
		color: #FFF;
	}
	&__txt {
		
	}
	&__perfect {
		opacity: 0.5;
	}
}

.headlines {
	color: #FFF;
	h1 {
		font: 60px $osans;
		font-weight: 300;
		padding: 0 15px;
	}
	p {
		font: 13px $osans;
		font-weight: 400;
		color: #FFF;
	}
}



.jumbotron {
	background-image: url("../images/topbg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

.wrapper {
	display: flex;
	flex-direction: row;
	.main {
		flex: 0.75;
		display: flex;
		flex-direction: column;
		&__logo {
			flex: 1;
			padding-bottom: 340px;
			img {
				cursor: pointer;
			}
		}
		&__tiitle {
			flex: 1;
			padding-bottom: 340px;
		}
	}

	.iphone {
		flex: 1.1;
		img {
			position: absolute;
			height: 100%;
			top: 30%;
		}
	}
}


.text {
	padding-bottom: 80px;
	display: flex;
	align-items: center;
	&__left {
		flex: 1;

	}
	&__right {
		padding-top: 20%;
		flex: 1;

	}
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

	&__item {
		position: relative;
		img {
			width: 100%;
		}		
		div {
			padding: 15px;
			color: #FFF;
			position: absolute;
			p {
				color: #FFF;
				font: 13px $osans;
				font-weight: 400;
			}
		}
	}
}

.fourth {
	position: relative;
	.sidetext {
		left: 0;
		top: 25%;

		p {
			color: $greyfont;
		}
	}
	.forcol {
		padding: 100px 0 150px 0;
		&__columns {
			display: flex;
			div {
				flex: 1;
				p {
					color: $darkgreyfont;
					font: 13px $osans;
					font-weight: 600;
					padding: 50px 15px 0 15px;
				}
				h4 {
					color: $greyfont;
					font-weight: 400;
					padding: 15px 15px 0 15px;
				}
			}		
		}
	}
}

.bigpicture {
	background-image: url("../images/mainbg2.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;

	.container {
		padding: 450px 0 120px 0;
		display: flex;
		flex-direction: row;
		.headlines {
			flex: 0.48;
			p {
				color: $greyfont;
			}

		}
	}
}

.six {
	position: relative;
	background-color: $cyan;
	.sidetext {
		left: 0;
		top: 25%;
	}
	.color {
		color: #FFF;
		padding: 100px 0 150px 0;
		&__columns {

			display: flex;
			div {
				flex: 1;
				p {
					color: #FFF;
					font: 13px $osans;
					font-weight: 600;
					padding: 50px 15px 0 15px;
				}
				h4 {
					color: #FFF;
					font-weight: 400;
					padding: 15px 15px 0 15px;
				}
			}		
		}
	}
}

.seven {
	background-color: $bglightgrey;
	position: relative;
	.sidetext {
		left: 0;
		top: 25%;
		p {
			color: $greyfont;
		}
	}
	.buying {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px 0 150px 0;

		&__solo, &__team {
			padding: 50px;
			.tittle {
				margin: 0 15px 0 15px;
				display: inline-flex;
				background-color: $btnbg;
				border-radius: 3px;

				p {
					text-transform: uppercase;
					font-size: 11px;
					padding: 5px 10px;
					color: #FFF;
				}
			}
			.icons {
				display: flex;
				flex-direction: row;
				.fa-apple, .fa-windows {
					margin: 10px 0 15px 15px;
					font-size: 30px;
					color: $darkgreyfont;
				}

			}
			h3 {
				padding: 10px 15px 5px 15px;
			}
			h4 {
				padding: 0 15px 0 15px; 
				font-weight: 400;
			}
			button {
				padding: 12px 30px;
				border: none;
				border-radius: 3px;
				margin: 15px;
				text-transform: uppercase;
				background-color: $cyan;
				color: #FFF;
			}			
		}

		&__solo {
			h4 {
				color: $darkgreyfont;
			}

		}

		&__team {
			background-color: #FFF;
			.tittle {
				background-color: $purple;
			}
		}
	}
}

.eight {
	background-color: $footerbg;
	padding: 100px 0 125px 0;
	.footers {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&__left, &__right {	
			flex: 1;
			h4 {
				font: 13px $osans;
				font-weight: 600;
				color: $greyfont;	
			}
			p {
				font: 13px $osans;
				font-weight: 400;	
			}
	
		}

		&__left {
			display: flex;
			flex-direction: column;
			padding-right: 50px;
			.col-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				div {
					flex: 1;
					display: flex;
					flex-direction: column;
					p {
						padding: 2px 15px;
					}
				}
			}

		}

		&__right {
			padding-left: 50px;
			.input-wrapper {

				&__row {
					display: flex;
					flex-direction: row;
					width: 100%;
					cursor: pointer;
					border-radius: 3px;
					padding-top: 10px;
					input {
						width: 100%;
						border: none;
						margin-left: 15px;
						
					}
					.icon {
						display: flex;
						padding: 10px;
						background-color: $cyan;
						.fa-check {
							color: #FFF;
							font-size: 24px;
						}
						
					}

				}
			}
			p {
				padding-right: 150px;
				font: 12px $osans;
				font-weight: 400;
				color: $lightblue;
			}
		}

	}
}

@media(min-width: 992px) and (max-width: 1199px) {

	.wrapper {
		.main {
			flex: 1;
			padding-left: 75px;
			&__logo {
				flex: 1;
				padding-bottom: 330px;
				img {
					cursor: pointer;
				}
			}
			&__tiitle {
				flex: 2;
				
			}
		}
		.iphone {
			flex: 1;
			img {
				top: 5%;
				left: 25%;
			}
		}
	}

	.fourth {
		.forcol {
			padding: 100px 75px 150px 75px;
		}
	}

	.six {
		.color {
			padding: 50px 75px 50px 75px;
		}
	}

	.seven {
		.buying {
			padding: 100px 75px 150px 75px;
		}
	}


}

@media(min-width: 768px) and (max-width: 991px)  { 

	.sidetext {
		display: none;
	}

	.jumbotron {
		height: 50vh;
	}

	.wrapper {
		.main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&__logo {
				flex: 1;
				padding-bottom: 100px;
				img {
					cursor: pointer;
				}
			}
			&__tiitle {
				flex: 1;
				padding-bottom: 25px;
			}
		}

		.iphone {
			flex: 0;
			display: none;
		}
	}

	.gallery {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;

		&__item {
			position: relative;
			img {
				width: 100%;
			}
			
			div {
				padding: 15px;
				color: #FFF;
				position: absolute;
				p {
					color: #FFF;
					font: 13px $osans;
					font-weight: 400;
				}
			}
		}
	}

	.bigpicture {
		.container {
			padding: 50px 0 50px 0;
			display: flex;
			flex-direction: column;
			.headlines {
				flex: 0.48;
				p {
					color: $greyfont;
				}

			}
		}
	}

	.six {
		.color {
			padding: 50px 25px 50px 25px;
		}
	}

	.seven {
		.buying {
			padding: 75px 25px 100px 25px;
		}
	}

}

@media(max-width: 767px) {

	h2 {
		font: 30px $osans;
		font-weight: 300;
		padding: 50px 15px 15px 15px;
	}

	h3 {
		font: 24px $osans;
		font-weight: 300;
		padding: 15px;
	}

	h4 {
		font: 14px $osans;
		font-weight: 700;
		padding: 40px 15px 0 15px;
	}	

	p {
		padding: 15px;
		color: $greyfont;
	}

	.headlines {
		color: #FFF;
		h1 {
			font: 30px $osans;
			font-weight: 300;
			padding: 0 15px;
		}
		p {
			font: 13px $osans;
			font-weight: 400;
			color: #FFF;
		}
	}

	.sidetext {
		display: none;
	}

	.jumbotron {
		height: 50vh;
	}

	.wrapper {
		.main {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 1;
			&__logo {
				flex: 1;
				padding-bottom: 100px;
				img {
					cursor: pointer;
				}
			}
			&__tiitle {
				flex: 1;
				padding-bottom: 25px;
				text-align: center;
			}
		}

		.iphone {
			flex: 0;
			display: none;
		}
	}

	.text {
		padding-bottom: 40px;
		display: flex;
		align-items: center;
		flex-direction: column;
		&__left {
			flex: 1;

		}
		&__right {
			padding-top: 0;
			flex: 1;

		}
	}

	.fourth {
		text-align: center;
		.forcol {
			padding: 50px 0 50px 0;
			&__columns {
				display: flex;
				flex-direction: column;
				text-align: center;
				div {
					flex: 1;
					p {
						color: $darkgreyfont;
						font: 13px $osans;
						font-weight: 600;
						padding: 50px 15px 0 15px;
					}
					h4 {
						color: $greyfont;
						font-weight: 400;
						padding: 15px 15px 0 15px;
					}
				}		
			}
		}
	}

	.gallery {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;

		&__item {
			position: relative;
			img {
				width: 100%;
			}
			
			div {
				padding: 15px;
				color: #FFF;
				position: absolute;
				p {
					color: #FFF;
					font: 13px $osans;
					font-weight: 400;
				}
			}
		}
	}

	.bigpicture {
		.container {
			padding: 75px 0 25px 0;
			display: flex;
			flex-direction: column;
			.headlines {
				padding: 50px 15px 5px 15px;
				p {
					color: #FFF;
				}

			}
		}
	}

	.six {
		.color {
			color: #FFF;
			padding: 50px 0 50px 0;
			&__columns {
				flex-direction: column;
				display: flex;
			}
		}
	}

	.seven {
		.buying {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 25px 0 25px 0;
		}
	}

	.eight {
		background-color: $footerbg;
		padding: 25px 0 50px 0;
		.footers {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			&__left {
				display: flex;
				flex-direction: column;
				text-align: center;
				align-items: center;
				justify-content: center;
				padding: 15px;
			}

			&__right {
				text-align: center;
				justify-content: center;
				padding-left: 0;
				.input-wrapper {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					flex-direction: column;

					&__row {

						input {
							width: 100%;
							border: none;
							margin-left: 0;
						}
					}
				}

				p {
					padding-right: 0;
				}
			}

		}
	}

}