.text {
	padding-bottom: 80px;
	display: flex;
	align-items: center;
	&__left {
		flex: 1;

	}
	&__right {
		padding-top: 20%;
		flex: 1;

	}
}

@media(min-width: 992px) and (max-width: 1199px) {

}

@media(min-width: 768px) and (max-width: 991px)  { 

}

@media(max-width: 767px) {

	.text {
		padding-bottom: 40px;
		display: flex;
		align-items: center;
		flex-direction: column;
		&__left {
			flex: 1;

		}
		&__right {
			padding-top: 0;
			flex: 1;

		}
	}

}